{% extends "base.html" %}
{% block title %}The Easy Eater | Signup{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
      <h1 class="page-title">{% trans "Sign up" %}</h1>
      <hr class="home-break">
      <br>
      <p class="text-center mt-3">{% blocktrans %}Have an account? <a href="{{ login_url }}" class="text-dark"><u>Log in</u></a>{% endblocktrans %}
      </p>
  <div class="row justify-content-center">
    <div class="col-11 col-md-6 col-lg-4 mt-3 mb-3">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-outline-dark" type="submit">{% trans "Sign up" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}