{% extends 'base.html'%}

{% block content %}

<!--Box shown for 400 error  -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center">
            <h1>400 error</h1>
            <hr class="home-break">
            <h3 class="mt-3">Bad Request</h3>
            <br>
            <p>The Easy Eater is unable to handle this request</p>
            <a href="{% url 'home' %}" class="btn btn-outline-dark d-inline">Home</a>
        </div>
    </div>
</div>

{% endblock %}