{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h1 class="mt-5">Add Recipe</h1>
    <div class="card mb-4 mt-3" style="border: none;">
        <div class="card-body">
            {% if user.is_authenticated %}
            <form method="post" class="add-recipe">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}

        </div>
    </div>
</div>

{%endblock%}