{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Recipes</h1>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipe_list  %}
        <div class="col-sm-3 px-1">
            <div class="card card-detail mb-3">
                <img src="/static/images/meatballs.jpg" class="card-img-top img-fluid card-img" alt="meatballs">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{%endblock%}