{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">

    </div>
</section>


<div class="container px-2 py-5">
    <div class="row flex-lg-row-reverse py-5">
        <div class="col-lg-5 pl-md-5">
            <img src="/static/images/family_dinner.jpg" class="img-fluid family-image" alt="family_dinner">
        </div>
        <div class="col-lg-7 hero-text-outer text-center">
            <h1 class="m-4 hero-text">Sign up today to get started</h1>
            <p class="lead">
                This is a lead paragraph. It stands out from regular paragraphs.
              </p>
            <div>
                <button type="button" class="btn btn-primary btn-lg">Sign up!</button>
            </div>
        </div>
    </div>
</div>


{%endblock%}



<!-- 
<section class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="row h-50 align-items-center">
            <div class="col">
                <h1 class="landing-title">The Easy Eater</h1>
            </div>
        </div>
        <div class="row h-50 align-items-center">
            <div class="col offset-md-1">
                <p class="landing-tagline">Your personalised mealplanner to take the stress out of everyday cooking!</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid green-background features-outer text-light">
    <div class="row">
        <div class="col-12">
            <h2 class="my-3 text-light">Sign up today to access the following features!</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <p class="my-3 text-center">Some filler text about what the proplem is and why this website is the solution
            </p>
        </div>
    </div>

    <div class="container-fluid feature-image-outer">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3 class="text-light">Browse</h3>
                <p class="feature-text">recipes for inspiration</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3 class="text-light">Upload or Bookmark</h3>
                <p class="feature-text">Upload and manage your recipes or add recipes to your bookmarks</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3 class="text-light">Plan</h3>
                <p class="feature-text">Add recipes to your weekly meal planner</p>

            </div>
        </div>
    </div>

</section> -->