{% extends "base.html" %}

{% block content %}


<section class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="row h-50 align-items-center">
            <div class="col">
                <h1 class="landing-title">The Easy Eater</h1>
            </div>
        </div>
        <div class="row h-50 align-items-center">
            <div class="col offset-md-1">
                <p class="landing-tagline">Your personalised mealplanner to take the stress out of everyday cooking!</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid features-outer">
    <div class="row">
        <div class="col-12">
            <h2 class="my-3">Sign up today to access the following features!</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <p class="my-3 text-center">Some filler text about what the proplem is and why this website is the solution
            </p>
        </div>
    </div>

    <div class="container-fluid feature-image-outer">
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3>Browse</h3>
                <p class="feature-text">recipes for inspiration</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3>Upload or Bookmark</h3>
                <p class="feature-text">Upload and manage your recipes or add recipes to your bookmarks</p>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="feature-image mb-2">
                    <a href="#">
                        <img src="/static/images/light-bulb.png" alt="lightbulb">
                    </a>
                </div>
                <h3>Plan</h3>
                <p class="feature-text">Add recipes to your weekly meal planner</p>

            </div>
        </div>
    </div>

</section>


{%endblock%}