{% extends "base.html" %}
{% block title %}The Easy Eater | My Meal Plan{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">My Meal Plan</h1>
        </div>
    </div>
    <hr class="home-break">
    <br>
    <!-- Meal Plan Card -->
    <div class="row card-deck justify-content-center">
        {% for day, meal in mealplan.items  %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail mealplan-card mb-3 shadow-sm mx-auto mx-sm-2">
                <div class="card-header mealplan-card-header">
                    <h2 class="card-title mealplan-title">{{ day }} </h2>
                </div>
                {% if meal %}
                {% if "placeholder" in meal.recipe.image.url %}
                <img src="https://res.cloudinary.com/aliokeeffe/image/upload/v1656016833/placeholder_image_prqssg.jpg"
                    class="card-img-top" alt="placeholder image">
                {% else %}
                <img src=" {{ meal.recipe.image.url }}" alt="recipe image" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title recipe-detail-title text-center text-truncate">{{ meal.recipe.title }}</h3>
                    <a href="{% url 'recipe_detail' meal.recipe.slug %}" class="stretched-link"
                        aria-label="recipe-detail"></a>
                </div>
                {% else %}
                <i class="fas fa-calendar-plus mp-icon fa-6x card-img-top"></i>
                <div class="card-body">
                    <h3 class="card-title recipe-detail-title text-center">Add Recipe</h3>
                    <a href="{% url 'browse_recipes' %}" class="stretched-link" aria-label="browse-recipes"></a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}