{% extends "base.html" %}
{% block title %}The Easy Eater | My Meal Plan{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">My Meal Plan</h1>
        </div>
    </div>
    <div class="row card-deck">

        {% for day, meal in mealplan.items  %}
            {% if meal %}
                <div class="col-sm-3 px-1 d-flex align-items-stretch">
                    <div class="card card-detail mb-3 bg-light text-grey">
                        <div class="card-header">
                            <h2 class="card-title">{{ day }} </h2>
                        </div>
                        <div class="card-body">
                            <div class="mp-icon">
                                <i class="fas fa-calendar-check"></i>
                            </div>
                            <h5 class="card-title">{{ meal.recipe.title }}</h5>
                            <p class="card-text">{{ meal.recipe.description }}</p>
                            <a href="{% url 'recipe_detail' meal.recipe.slug %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-3 px-1 d-flex align-items-stretch">
                    <div class="card card-detail mb-3 bg-light text-grey">
                        <div class="card-header">
                            <h2 class="card-title">{{ day }} </h2>
                        </div>
                        <div class="card-body">
                            <div class="mp-icon">
                                <i class="fas fa-calendar-plus mp-icon"></i>
                            </div>
                            <h5 class="card-title">No recipe Selected</h5>
                            <a href="{% url 'browse_recipes' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}
