{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="page-title">My Recipes</h1>
        </div>
    </div>
    <div class="row">
        {% for recipe in recipe_list  %}
        {% if user.is_authenticated and recipe.author == user %}
        <div class="col-sm-3 px-1">
            <div class="card card-detail mb-3">
                {% if "placeholder" in recipe.image.url %}
                <img src="https://res.cloudinary.com/aliokeeffe/image/upload/v1656016833/placeholder_image_prqssg.jpg" class="card-img-top img-fluid card-img" alt="placeholder image">
                {% else %}
                <img src=" {{ recipe.image.url }}" alt="recipe image" class="card-img-top img-fluid card-img">
                {% endif %}
                <!-- <img src="/static/images/meatballs.jpg" class="card-img-top img-fluid card-img" alt="meatballs"> -->
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    <a href="{% url 'recipe_detail' recipe.slug %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>


{%endblock%}