{% extends 'base.html' %}
{% block title %}The Easy Eater | {{ recipe.title }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container p-0">
    <div class="container pt-3">
        <div class="card mb-3 recipe-detail-card">
            <div class="row no-gutters">
                <div class="col-12 col-md-4">
                    {% if "placeholder" in recipe.image.url %}
                    <img src="https://res.cloudinary.com/aliokeeffe/image/upload/v1656016833/placeholder_image_prqssg.jpg"
                        class="recipe-detail-img" alt="placeholder image">
                    {% else %}
                    <img src=" {{ recipe.image.url }}" alt="recipe image" class="recipe-detail-img">
                    {% endif %}
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body recipe-detail-outer py-2">
                        <div>
                            <h1 class="card-title page-title recipe-title text-left">{{ recipe.title }}</h1>
                        </div>
                        <p class="card-text">Author: {{ recipe.author }}</p>
                        <div class="mb-5">
                            <p>
                                <span><i class="far fa-clock pr-2"> </i></span>
                                <span>Prep Time: {{ recipe.preparation_time }}</span>
                            </p>
                            <p>
                                <span><i class="far fa-clock pr-2"></i></span>
                                <span>Cook Time: {{ recipe.cook_time }}</span>
                            </p>
                        </div>
                        <!-- recipe action buttons -->
                        <div class="action-buttons-outer d-block">
                            {% if user.is_authenticated %}
                            <button type="button" class="btn btn btn-outline-dark mp-button rounded-pill mr-2"
                                data-toggle="modal" data-target="#mealplanModal">
                                <span><i class="fas fa-calendar-plus pr-1"></i></span>
                                Add to Meal Plan
                            </button>
                            <!--Meal Plan Modal -->
                            <div class="modal fade" id="mealplanModal" tabindex="-1"
                                aria-labelledby="mealplanModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="mealplanModalLabel">Select Day</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" class="add-recipe">
                                            <div class="modal-body">
                                                {{ mealplan_form | crispy }}
                                                {% csrf_token %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-outline-dark btn-sm">
                                                    <span><i class="fas fa-calendar-plus pr-1"></i></span>
                                                    Add to Meal Plan
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <!--End of Meal Plan Modal -->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'bookmark_recipe' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if bookmarked  %}
                                <button class="action-btn btn btn-info" type="submit" name="bookmark_id"
                                    value="{{recipe.slug}}" aria-label="bookmark-outline">
                                    <i class="fas fa-bookmark"></i></button>
                                {% else %}
                                <button class="action-btn btn btn-info" type="submit" name="bookmark_id"
                                    value="{{recipe.slug}}" aria-label="bookmark-solid"><i
                                        class="far fa-bookmark"></i></button>
                                {% endif %}
                            </form>
                            {% endif %}
                            {% if user.is_authenticated and recipe.author == user %}
                            <span>
                                <a class="action-btn btn btn-info" href="{% url 'update_recipe' recipe.slug %}"
                                    aria-label="edit-recipe">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </span>
                            <span>
                                <a class="action-btn btn btn-info" href="{% url 'delete_recipe' recipe.slug %}"
                                    aria-label="delete-recipe">
                                    <i class="fas fa-times"></i>
                                </a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card mb-3 recipe-detail-card">
                    <h5 class="card-header recipe-detail-header">
                        Description
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{ recipe.description | safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3 recipe-detail-card">
                    <h5 class="card-header recipe-detail-header">
                        Ingredients
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ recipe.ingredients | safe }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 recipe-detail-card">
                    <h5 class="card-header recipe-detail-header">Method</h5>
                    <div class="card-body">
                        <div class="card-text">{{ recipe.method | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comments section -->
{% if comments %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card recipe-detail-card">
                <h3 class="card-header recipe-detail-header text-left">Comments</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div>
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                            {% if user.is_authenticated and user.username == comment.name %}
                            <span class="comment-action-btn pl-2">
                                <a href="{% url 'update_comment' comment.id %}" aria-label="edit-comment"><i
                                        class="fas fa-edit link-primary"></i></a>
                                <a href="{% url 'delete_comment' comment.id %}" aria-label="delete-comment"><i
                                        class="fas fa-times"></i></a>
                            </span>
                            {% endif %}
                        </p>
                        {{ comment.body | linebreaks }}
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<!-- Create comment -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card recipe-detail-card mb-3 mt-3">
                <div class="card-body">
                    <p>Leave a comment as: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}