{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <div class="card mb-3 mt-3 recipe-detail-card bg-light">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if "placeholder" in recipe.image.url %}
                <img src="https://res.cloudinary.com/aliokeeffe/image/upload/v1656016833/placeholder_image_prqssg.jpg" class="recipe-detail-img" alt="placeholder image">
                {% else %}
                <img src=" {{ recipe.image.url }}" alt="recipe image" class="recipe-detail-img">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title text-left">{{ recipe.title }}</h1>
                    <p class="card-text">Author: {{ recipe.author }}</p>
                    <p class="card-text">Description: {{ recipe.description | safe }}</p>
                    <div class="row">
                        <div class="col-2 col-md-1 pr-0"><i class="far fa-clock"></i></div>
                        <div class="col-10 col-md-11 pl-0">
                            <p>
                                Prep Time: {{ recipe.preparation_time }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-md-1 pr-0"><i class="far fa-clock"></i></div>
                        <div class="col-10 col-md-11 pl-0">
                            <p>
                                Cook Time: {{ recipe.cook_time }}
                            </p>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'favourite_recipe' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if favourited  %}
                        <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like">
                            <i class="fas fa-bookmark"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{recipe.slug}}" class="btn-like"><i class="far fa-bookmark"></i></button>
                        {% endif %}

                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    <form method="post" class="add-recipe" action="">
                        <div class="col">
            
                            <div class="card">
                                {{ mealplan_form | crispy }}
                                {% csrf_token %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">
                    Ingredients
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ recipe.ingredients | safe }}</li>
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <h5 class="card-header">Method</h5>
                <div class="card-body">

                    <p class="card-text">{{ recipe.method | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4 mt-3 ">
            <div class="card-body">
                <h3 class="card-title">Comments:</h3>
                {% for comment in comments %}
                <div>
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">


                <h3 class="card-title">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% endif %}

            </div>
        </div>
        {% if user.is_authenticated and recipe.author == user %}
        <div>
            <a class="btn btn-info btn-lg mt-4" href="{% url 'update_recipe' recipe.slug %}">
                Update
            </a>
        </div>
        <div>
            <a class="btn btn-info btn-lg mt-4" href="{% url 'delete_recipe' recipe.slug %}">
                Delete
            </a>
        </div>
        {% endif %}
    </div>

    {% endblock content %}